.fw-normal {
  font-weight: normal;
}

.horizontal-checkbox {
  cursor: pointer;
  width: 100%;

  input[type='checkbox'] {
    margin-right: 5px;
  }
}

.text-muted {
  color: rgba(#fff, 0.5);
}

label {
  display: block;
  font-weight: bold;
}
