.wrapper {
  display: flex;

  &[data-layout="horizontal"] {
    align-items: center;
    flex-direction: row;
  }

  &[data-layout="vertical"] {
    align-items: flex-start;
    flex-direction: column;
  }
}

.label {
  font-size: 0.9rem;
  margin-bottom: 0;
  margin-right: 15px;
}

.input {
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: right;
  width: 125px;
}
