.wrapper {
  display: flex;
  align-items: center;
}

.label {
  font-size: 0.9rem;
  margin-bottom: 0;
  margin-right: 15px;
}

.input {
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: right;
  width: 125px;
}
