@import '../../../sass/variables';

.wrapper {
  align-items: center;
  background-color: $color-grey-medium;
  border-bottom: 1px solid $color-grey-light;
  color: $color-white;
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 10px;

  &.selected {
    background-color: $color-red;
  }
}

.thumbnail {
  margin-right: 10px;
  width: 40px;
}

.body {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
