:root {
  --color-black: #000;

  --border-radius: 4px;

  --box-shadow: var(--color-black) 5px 5px 10px 0;

  --toggle-tip-background: #4e4e4e;
  --toggle-tip-color: #fff;

  --z-index-toggletip: 10;
}
